#Full path to root install folder. Example: C:\Alfresco
Alfreco (ACS) Install Directory:
C:\kt521

#The DNS host name of the Server Alfresco is installed on. Example: Alfresco-server-1
Alfresco Server Name:
Cody-Alfresco

#The fully Qualified Domain Name of the Domain Controller. Example: DomainController1.OurDomain.com
LDAP Fully Qualified Domain Name(ACS):
DC.CodyKerberos.sso

#The sAMAccountName of an LDAP account which has LDAP sync privileges. Example: Administrator
LDAP Admin Name(ACS):
Administrator

#The password of the above mentioned LDAP account which has LDAP sync privileges. Example: @dminP@$$w0rd
LDAP Admin Password(ACS):
it'sSecure

#The full distinguishedName of the OU to set for the Group search base. Example: OU=GroupOu1,DC=OurDomain,DC=com
LDAP Group Search Base(ACS):
OU=KerberosGroups,DC=CodyKerberos,DC=sso

#The full distinguishedName of the OU to set for the User search base. Example: OU=UserOu1,DC=OurDomain,DC=com
LDAP User Search Base(ACS):
OU=KerberosUsers,DC=CodyKerberos,DC=sso

#Full path to the folder the keytabs are stored in. Example: C:\Keytabs
Keytab Path(ACS):
test

#The name of the file in the above mentioned path for the HTTP keytab. Example: alfHTTP.keytab
HTTP Keytab Name(ACS):
test

#The name of the file in the above mentioned path for the cifs keytab. Example: alfcifs.keytab
cifs Keytab Name:
test

#The password of the service account used for HTTP Kerberos Delegation. Example: httpP@$$w0rd
HTTP User Password(ACS):
test

#Use 'y' or 'yes' to automatically create krb5.ini file based on above input.
Create krb5.ini(ACS)?
y

#Use 'y' or 'yes' to enable additional options to automate the creating of the HTTP and cifs Kerberos delegation accounts.
Create service accounts, set SPNs, and Generate Keytabs for ACS?
y

#The full distinguishedName of the HTTP service account. Example: cn=alfHttp,cn=users,dc=OurDomain,dc=com
HTTP User DistinguishedName(ACS):
cn=alfHttp,cn=users,dc=CodyKerberos,dc=sso

#The full distinguishedName of the cifs service account. Example: cn=alfcifs,cn=users,dc=OurDomain,dc=com
cifs User DistinguishedName:
cn=alfcifs,cn=users,dc=CodyKerberos,dc=sso

#the password to be used for creating the cifs service account for Kerberos delegation. Example: cifsP@$$w0rd
cifs User Password:
test

#The administrator or other account with rights to execute Powershell commands on the domain controller in the format Domain\Username. Example: OurDomain.com\Administrator
LDAP Administrator Domain\Username(ACS):
domain.com\Administrator

#The password for the above mentioned account that can execute powershell commands on the domain controller. Example: P$@dminP@$$w0rd
LDAP Administrator Password(ACS):
itsSecure








#Full path to root install folder. Example: C:\AlfrescoProcess
Activiti (APS) Install Directory:
C:\kt18

#The DNS host name of the Server Alfresco is installed on. Example: Alfresco-server-1
Activiti Server Name:
Cody-Alfresco

#The fully Qualified Domain Name of the Domain Controller. Example: DomainController1.OurDomain.com
LDAP Fully Qualified Domain Name(APS):
WIN-MM1HLF1SF7J.CodyKerberos.sso

#The sAMAccountName of an LDAP account which has LDAP sync privileges. Example: Administrator
LDAP Admin Name(APS):
Administrator

#The password of the above mentioned LDAP account which has LDAP sync privileges. Example: @dminP@$$w0rd
LDAP Admin Password(APS):
Alfr3sc0!

#The full distinguishedName of the OU to set for the Group search base. Example: OU=GroupOu1,DC=OurDomain,DC=com
LDAP Group Search Base(APS):
OU=KerberosGroups,DC=CodyKerberos,DC=sso

#The full distinguishedName of the OU to set for the User search base. Example: OU=UserOu1,DC=OurDomain,DC=com
LDAP User Search Base(APS):
OU=KerberosUsers,DC=CodyKerberos,DC=sso

#Full path to the folder the keytabs are stored in. Example: C:\Keytabs
Keytab Path(APS):
test2

#The name of the file in the above mentioned path for the HTTP keytab. Example: alfHTTP.keytab
HTTP Keytab Name(APS):
test2

#Use 'y' or 'yes' to automatically create krb5.ini file based on above input.
Create krb5.ini(APS)?
y

#Use 'y' or 'yes' to enable additional options to automate the creating of the HTTP and cifs Kerberos delegation accounts.
Create service accounts, set SPNs, and Generate Keytabs for APS?
y

#The full distinguishedName of the HTTP service account. Example: cn=alfHttp,cn=users,dc=OurDomain,dc=com
HTTP User DistinguishedName(APS):
cn=alfHttp,cn=users,dc=CodyKerberos,dc=sso

#The password of the service account used for HTTP Kerberos Delegation. Example: httpP@$$w0rd
HTTP User Password(APS):
test

#The administrator or other account with rights to execute Powershell commands on the domain controller in the format Domain\Username. Example: OurDomain.com\Administrator
Enter LDAP Administrator Domain\Username(APS):
CodyKerberos.sso\Administrator

#The password for the above mentioned account that can execute powershell commands on the domain controller. Example: P$@dminP@$$w0rd
Enter LDAP Administrator Password(APS):
Alfr3sc0!