Alfreco (ACS) Install Directory:
C:\kt521

Alfresco Server Name:
Cody-Alfresco

LDAP Fully Qualified Domain Name(ACS):
WIN-MM1HLF1SF7J.CodyKerberos.sso

LDAP Admin Name(ACS):
Administrator

LDAP Admin Password(ACS):
Alfr3sc0!

LDAP Group Search Base(ACS):
OU=KerberosGroups,DC=CodyKerberos,DC=sso

LDAP User Search Base(ACS):
OU=KerberosUsers,DC=CodyKerberos,DC=sso

Keytab Path(ACS):
test

HTTP Keytab Name(ACS):
test

cifs Keytab Name:
test

HTTP User Password(ACS):
test

Create krb5.ini(ACS)?


Create service accounts, set SPNs, and Generate Keytabs for ACS?


HTTP User DistinguishedName(ACS):
cn=alfHttp,cn=users,dc=CodyKerberos,dc=sso

cifs User DistinguishedName:
cn=alfcifs,cn=users,dc=CodyKerberos,dc=sso

cifs User Password


Enter LDAP Administrator Domain\Username(ACS):
CodyKerberos.sso\Administrator

Enter LDAP Administrator Password(ACS):
Alfr3sc0!









Activiti (APS) Install Directory:


Activiti Server Name:


LDAP Fully Qualified Domain Name(APS):


LDAP Admin Name(APS):


LDAP Admin Password(APS):


LDAP Group Search Base(APS):


LDAP User Search Base(APS):


Keytab Path(APS):


HTTP Keytab Name(APS):


Create krb5.ini(APS)?


Create service accounts, set SPNs, and Generate Keytabs for APS?


HTTP User DistinguishedName(APS):


HTTP User Password(APS):


Enter LDAP Administrator Domain\Username(APS):


Enter LDAP Administrator Password(APS):